<canvas ng-dblclick="setBackground(true)" id="background"></canvas>

<div id="weather">
	<p class="temp">{{temp}}</p>
	<p class="country">{{loc}}</p>
</div>

<div id="time">
	<p class="clock">{{clock | date:'medium'}}</p>
	<p class="desc" data-i18n="time.greeting" data-daystate="{{daystate}}" data-name="{{ name }}" data-date="{{ date }}"></p>
</div>

<div id="quote">
	<blockquote>
		<!-- <h2>answer 2</h2>
		<p>{{quotes[0].body}}</p>
		<p>{{quotes[0].source}}</p> -->

		<!-- //TEST -->
	  <!-- <p>{{"HELLO"}}</p>
	  <cite>{{"LOL"}}</cite> -->

		<p>{{quote.body}}</p>
		<div id="quoteSource">
		<cite>{{quote.source}}</cite>
		</div>

		<!-- <div id="myData"></div>

		<script>
		 fetch('quotes.json')
		     .then(function (response) {
		         return response.json();
		     })
		     .then(function (data) {
		         appendData(data);
		     })
		     .catch(function (err) {
		         console.log('error: ' + err);
		     });
		 function appendData(data) {
		     var mainContainer = document.getElementById("myData");
		     for (var i = 0; i < data.length; i++) {
		         var div = document.createElement("div");
		         div.innerHTML = 'Name: ' + data[i].body+ ' ' + data[i].source;
		         mainContainer.appendChild(div);
		     }
		 }
		</script> -->
	</blockquote>
</div>
